<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>

<div class="header">
    <hr color=#777777 >
    <p>OV-ORANGE简易点餐系统</p>
    <hr color=#777777 >
</div>

<form action="/del" method="post">
    <p>name: <input type="text" name="name" /></p>
    <input type="submit" value="Submit" />
</form>

<p><a href="/">点餐</a><span>----</span><a href="/today">当日点餐清单<a></p>

<div class="footer">
    <hr color=#777777 >
    <p>Copyright  2013  光谷奥源公司-张志贺 版权所有 </p>
    <hr color=#777777 >
</div>

</body>
</html>
