<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</style>
	<script>
	function trim(s){ 
	    return ( s || '' ).replace( /^\s+|\s+$/g, '' ); 
	}
	function del(){
	
	    del_name = trim(document.getElementById("del_name").value)
	    if (del_name == ""){
		//alert("请输入姓名")
	        return false
	    }
	    return true
	}

	function add(){
	    add_name = trim(document.getElementById("add_name").value)
	    add_cai = trim(document.getElementById("add_cai").value)
	    if (add_name == ""){
		//alert("请输入姓名")
	        return false
	    }
	    if (add_cai == ""){
		//alert("请输入菜名")
	        return false
	    }
	    return true
	}
    
    
    </script>
    </head>
    <body>

<div class="header">
    <hr color=#777777 >
    <p>OV-ORANGE简易点餐系统</p>
    <hr color=#777777 >
</div>

<table border="5">
    <tr>
    <td>
    <span>菜谱：</span>
    <pre>{{ c_str }}</pre>
    </td>
    <td>
    <span>今日点餐情况：</span>
    <pre>{{ t_str }}</pre>
    </td>
</tr>
</table>

<hr color=#777777 >

<form action="/" onsubmit="return add()" method="post">
    <p>点餐</p>
    <p>姓名: <input type="text" name="name" id="add_name" /></p>
    <p>菜名: <input type="text" name="wcai" id="add_cai"/></p>
    <input type="submit" value="Submit" />
</form>

<hr color=#aaaaaa >
<form action="/del" onsubmit="return del()" method="post">
    <p>删除点餐</p>
    <p>姓名: <input type="text" name="name" id="del_name" /></p>
    <input type="submit" value="Submit" />
</form>

<hr color=#777777 >
<p><a href="/">点餐</a><span>--</span><a href="/listc">编辑菜谱</a><span>--</span><a href="/history">历史点餐信息</a></p>

<div class="footer">
    <hr color=#777777 >
    <p>Copyright 2013  光谷奥源公司-jack-zh 版权所有 </p>
    <hr color=#777777 >
</div>

</body>
</html>
