<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
	function trim(s){ 
	    return ( s || '' ).replace( /^\s+|\s+$/g, '' ); 
	}
	function del(){

	    del_name = trim(document.getElementById("del_name").value)
	    if (del_name == ""){
		//alert("请输入姓名")
		return false
	    }
	    return true
	}

	function add(){
	    add_name = trim(document.getElementById("add_name").value)
	    add_cai = trim(document.getElementById("add_cai").value)
	    if (add_name == ""){
		//alert("请输入姓名")
		return false
	    }
	    if (add_cai == ""){
		//alert("请输入菜名")
		return false
	    }
	    return true
	}


    </script>
	<style>
	    #chaptertree span{
	     float:left;
	     width:20%;
	     margin:1px;
	     padding:0;
	     border: 2;
	    }
       </style>
</head>
<body>

    <div class="header">
	<hr color=#777777 >
	<h2><strong>OV-ORANGE简易点餐系统</strong></h2>
	<hr color=#777777 >
    </div>

    <table border="5">
	<tr>
	    <th>菜谱</th>
	</tr>
	<tr>
	    <td>
			<div id="chaptertree">
		    	{% for  c in c_list %}
			<span>
			{{ c }}:{{ c_list[c] }}
		        </span>
			{% end %}
			</div>
	    </td>
	</tr>
    </table>

    <hr color=#777777 >

    <table border="5">
	<tr>
	    <td>
		<form action="/" onsubmit="return add()" method="post">
		    <table>
			<tr>
			    <th><p>点餐</p></th>
			</tr>

			<tr>
			    <td><p>姓名: <input type="text" name="name" id="add_name" /></p></td>
			</tr>
			<tr>
			    <td><p>菜名: <input type="text" name="wcai" id="add_cai"/></p></td>
			</tr>
			<tr>
			    <td><input type="submit" value="Submit" /></td>
			</tr>
		    </table>
		</form>
	    </td>
	    <td>
		<form action="/del" onsubmit="return del()" method="post">
		    <table>
			<tr>
			    <th><p>删除点餐</p></th>
			</tr>

			<tr>
			    <td><p>姓名: <input type="text" name="name" id="del_name" /></p></td>
			</tr>
			<tr>
			    <td><p>&nbsp;</p></td>
			</tr>
			<tr>
			    <td><input type="submit" value="Submit" /></td>
			</tr>
		    </table>
		</form>
	    </td>
	    <td>
              <table style="border-color:red" border="3">
		  <tr>
		      <th>菜名</th>
		      <th>人数</th>
		      <th>单价</th>
		      <th>总价</th>
		      <th>WHO列表</th>
		  </tr>
		  {% for  t in t_list %}
		  <tr>
		      <td>{{ t }}</td>
		      <td>{{ len(t_list[t]['who']) }}份</td>
		      <td>{{ t_list[t]['price'] }}</td>
		      <td>{{ t_list[t]['allp'] }}</td>
		      <td>
         	      {% for  p in t_list[t]['who'] %}
                       {{ p }}<span style="color:#ffffff">|</span>
		      {% end %}
		      </td>
		  <tr>
		  {% end %}
	      </table>
	    </td>
	</tr>
    </table>

    <hr color=#777777 >
    <p><a href="/">点餐</a><span>--</span><a href="/listc">编辑菜谱</a><span>--</span><a href="/history">历史点餐信息</a></p>

    <div class="footer">
	<hr color=#777777 >
	<p>Copyright 2013  光谷奥源公司-jack-zh 版权所有 </p>
	<hr color=#777777 >
    </div>

</body>
</html>
