<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>

<div class="header">
    <hr color=#777777 >
    <p>OV-ORANGE简易点餐系统</p>
    <hr color=#777777 >
</div>
<div class="qingdan">
    <hr color=#aaaaaa >
    <pre>
    {{ c_str }}
    </pre> 
    <hr color=#aaaaaa >
</div>

<form action="/addc" method="post">
    <p>增加或编辑一个菜</p>
    <p>菜名: <input type="text" name="name" /></p>
    <p>价格: <input type="text" name="price" /></p>
    <input type="submit" value="Submit" />
</form>
<hr color=#222222 >
<form action="/delc" method="post">
    <p>删除一个菜</p>
    <p>菜名: <input type="text" name="name" /></p>
    <input type="submit" value="Submit" />
</form>

<hr color=#222222 >
<p><a href="/">点餐</a><span>----</span><a href="/listc">编辑菜谱</a></p>


<div class="footer">
    <hr color=#777777 >
    <p>Copyright 2013  光谷奥源公司-张志贺 版权所有 </p>
    <hr color=#777777 >
</div>

</body>
</html>
