<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script>
	function trim(s){ 
	    return ( s || '' ).replace( /^\s+|\s+$/g, '' ); 
	}
	function dk(){

	    d_str = trim(document.getElementById("d_str").value)
	    if (d_str == ""){
		//alert("请输入姓名")
		return false
	    }
	    return true
	}
	</script>
    </head>
    <body>

	<div class="header">
	    <hr color=#777777 >
	    <p>OV-ORANGE简易点餐系统</p>
	    <hr color=#777777 >
	</div>
	<div class="qingdan">
	    <hr color=#aaaaaa >
              <table style="border-color:red" border="3">
		  <tr>
		      <th>菜名</th>
		      <th>人数</th>
		      <th>总价</th>
		      <th>WHO列表</th>
		  </tr>
		  {% for  t in h_list %}
		  <tr>
		      <td>{{ t }}</td>
		      <td>{{ len(h_list[t]['who']) }}份</td>
                      <td>{{ h_list[t]["allp"] }}</td>
		      <td>
         	      {% for  p in h_list[t]['who'] %}
                       {{ p }}<span style="color:#ffffff">|</span>
		      {% end %}
		      </td>
		  <tr>
		  {% end %}
	      </table>
	    <hr color=#aaaaaa >
            <p>总价:{{ dallp }}</p>
	    <hr color=#aaaaaa >
	</div>

	<form onsubmit="return dk()" action="/history" method="post">
	    <p>输入日期名称,格式(1970-01-01)</p>
	    <p>日期: <input id="d_str" type="text" name="d_str" /></p>
	    <input type="submit" value="Submit" />
	</form>

	<hr color=#222222 >
	<p><a href="/">点餐</a><span>--</span><a href="/listc">编辑菜谱</a><span>--</span><a href="/history">历史点餐信息</a></p>


	<div class="footer">
	    <hr color=#777777 >
	    <p>Copyright 2013  光谷奥源公司-jack-zh 版权所有 </p>
	    <hr color=#777777 >
	</div>

    </body>
</html>
