<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>

<div class="header">
    <hr color=#777777 >
    <p> header</p>
    <hr color=#777777 >
</div>

<pre>{{ day_json }}</pre>
<p><a href="/">back</a></p>
<p><a href="/del">del</a></p>

<div class="footer">
    <hr color=#777777 >
    <p>footer</p>
    <hr color=#777777 >
</div>

</body>
</html>
